
body, html{
  margin:0;
  background:#fff;

}

#main{
  position:relative;
  width:min(900px, 92vw);
  height:min(560px, 80vh);
  border-radius:18px;
}

#wall{
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e1cfbc;
}
#wall-line{
  position:absolute;
  left:0; right:0;
  bottom:165px;
  height:18px;
  background:#1f1918;
}
#floor{
  position:absolute;
  left:0;
  right:0; 
  bottom:0;
  height:30%;
  background: linear-gradient(#a27b54, #8b6847);
}

#suitcase{
  position:absolute;
  left:200px;
  bottom:90px;
  width:200px;
  height:320px;
  background: linear-gradient(#606a73, #3e474f);
  border-radius:14px;
  z-index:2;
  box-shadow: 0 16px 0 rgba(0,0,0,.15);
}
#handle{
  position:absolute;
  left:68px;
  top:-52px;
  width:64px;
  height:52px;
  border:6px solid #111;
  border-bottom:none;
  border-radius:8px 8px 0 0; 
  background:transparent;

}
#lines{
  position:absolute;
  top:16px;
  right:16px;
  bottom:16px;
  left:16px;
  border-radius:10px;
  background: repeating-linear-gradient(90deg,#858d94 0px, #858d94 6px, transparent 6px, transparent 16px);
  opacity:.8;
}




#wheel-left{
  position:absolute;
  bottom:-10px;
  left:18px;
  width:18px;
  height:18px;
  background:#111;
  border-radius:50%;
}

#wheel-right{
  position:absolute;
  bottom:-10px;
  right:18px;
  width:18px;
  height:18px;
  background:#111;
  border-radius:50%;
}


#guitar{
  position:absolute;
  right:240px;
  bottom:16%;
  width:170px;
  height:300px;
  background: linear-gradient(#131316, #070708);
  border-radius:120px 120px 20px 20px;
  z-index:3;
  box-shadow: 0 18px 0 rgba(0,0,0,.14);

}
#g-pocket{
  position:absolute;
  left:25px;
  bottom:45px;
  width:120px;
  height:120px;
  border-radius:14px;
  background:#0b0b0c;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,.06);
}


#bottle{
  position:absolute;
  left:290px;
  bottom:6%;
  width:56px;
  height:150px;
  background: linear-gradient(#f7f7f7, #dcdcdc);
  border-radius:18px 18px 22px 22px;
  z-index:4;
  transform: rotate(-4deg);
  box-shadow: 0 14px 0 rgba(0,0,0,.12);

}
#b-cap{
  position:absolute;
  left:50%;
  top:-18px;
  width:40px;
  height:24px;
  transform: translateX(-50%);
  background:#e3d2b8;
  border-radius:14px;
}

#g-neck{
  position:absolute;
  top:-145px;
  left:50%;
  width:36px;
  height:180px;
  transform: translateX(-50%);
  background:#0b0b0c;
  border-radius:10px;
  box-shadow: 0 8px 0 rgba(0,0,0,.15);
}




